/client/node_modules/
/client/package-lock.json
/client/images/*
/client/dist/*
/client/html/*

/server/node_modules/
/server/dist/*
/server/package-lock.json

/electron/node_modules/
/electron/package-lock.json
/electron/out/


/docs/diagrams/*.bak*


/server/src/FileSystemManager.ts
/**/.metals

/**/test.ts
/**/test.py

/client/public/storage/*
!/client/public/storage/README.md


/**/*.spec.*

